@import "./style/main.scss";

.error {
  background-color: lighten($error, 35%);
  border: 1px solid darken($error, 10%);
  align-items: center;
  display: flex;
  margin: -24px -24px 24px -24px;
  padding: $padding;
  width: 100%;

  h3 {
    font-size: 14px;
    color: darken($error, 15%);
  }
  .error-icon {
    color: $error;
    margin-right: 12px;
  }

  .back-link {
    display: block;
    font-size: 12px;
    margin-left: auto;
    .fa-arrow-left {
      margin-right: 8px;
    }
  }
}
