@import "../../shared/style/main";

.pokemon-preview {
  color: white;
  text-decoration: none;
  text-transform: capitalize;

  figure {
    display: flex;
  }

  figcaption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: auto;
    min-height: 115px;
  }

  h3 {
    flex-grow: 1;
    margin-bottom: auto;
  }

  h4 {
    margin-top: auto;
  }

  img {
    margin-top: auto;
    margin-left: auto;
    width: 115px;
  }
}
